.main {
    margin: 1em;
}

.main h1 {
    margin: 0;
    margin-bottom: 1em;
}

.main div label {
    display: block;
    /* width: auto; */
    margin: 0.5em 0;
    /* border: 1px solid green; */
}

.main div {
    margin: 1em 0;
    /* border: 1px solid red; */
}

.main input[type="text"], .main input[type="password"] {
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 1em;
}

.main textarea {
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 1em;
    width: 400px;
    height: 300px;
}

.main img {
    width: auto;
    height: auto;
}
.main button {
    border-radius: 1em;
    border: 1px solid darkgray;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: large;
    margin: 0.5em 0;
    background-color: lightgray;
}
.main input[type="file"] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;    
    opacity: 0;
}
