:root {
    font-size: large;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1em;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
}

@media (min-width: 450px) {
}

@media (max-width: 449px) {
}

h1 {
    text-align: center;
}