.feedComp {
    
}

.birthdayDate {}

.birthdayName {
    padding-left: 3ex;
}

.floatRight {
    float: right;
}

.moveDialog {
    display: block;
    position: fixed;
    top: 50%;
    width: auto;
    height: auto;
    right: 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    background-color: gray;
}

.topRight {}