
/* .imgUploadLabel {
    display: inline-block;
    position: relative;
    border: 1px solid darkgray;
    border-radius: 1em;
    padding: 6px 12px;
    background-color: lightgray;
    cursor: pointer;
}
.imgUploadLabel input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
} */
/* .imgUploadLabel:focus-within, .imgUploadLabel:hover {
    outline: 3px solid black;
} */
