.notes {
    /* 2em for padding, 2rem for implicit margin by BoxComp.module.css */
    width: calc(100% - 2em - 2rem);
    height: 8rem;
    padding: 1em;
    border-radius: 1rem;
}

.dirtyHint {
    font-size: x-small;
    color: gray;
    height: 1em;
    margin-top: 0;
}