.topRight {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: auto;
    height: auto;
    color: gray;
    font-size: xx-small;
}

.topRight button {
    border: none;
    background: inherit;
    color: gray;
    text-decoration: underline;
    cursor: pointer;
}
